body {
    font-family: Arial, sans-serif;
}

header {
    font-weight: bold;
}

#ingredients {
    background-color: #f7f7f7;
    
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#reviews {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#reviewsList {
    max-height: 300px;
    overflow-y: auto;
}

#addReviewForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
